<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="css_footer(id,page)">
    <!-- Vendor js -->
    <script src="/dashboard/assets\js\vendor.min.js"></script>

    <script th:if="${page == 'index'}" src="/dashboard/assets\libs\morris-js\morris.min.js"></script>
    <script th:if="${page == 'index'}" src="/dashboard/assets\libs\raphael\raphael.min.js"></script>

    <script th:if="${page == 'index'}" src="/dashboard/assets\js\pages\dashboard.init.js"></script>

    <!-- App js -->
    <script src="/dashboard/assets\js\app.min.js"></script>
</th:block>